<!DOCTYPE html>
<footer>
  <div>
    <p>CBU: 1910249655024900127746</p>
    <p>N&deg; de Cta. Cte.: 12345, Sucursal N&deg;249 del Banco Credicoop, Plaza Miserere</p>
  </div>
  <div>
    <p>Forma de pago: 50% ACOPIO (CONTADO: Efectivo, transferencia, cheque al d&iacute;a acreditado) - SALDO.
    </p>
    <p>Nuestras puertas cortafuego se encuentran homologadas por el INTI. Identificadas cada una con su
      respectivo n&uacute;mero de serie.</p>
    <p>Para entregar la mercader&iacute;a la misma deber&aacute; encontrarse acreditada. Las puertas no incluyen
      instalaci&oacute;n. Validez de la oferta: 10 d&iacute;as.</p>
    <p>Tiempo de entrega: 30 d&iacute;as a part&iacute;r de acreditaci&oacute;n del acopio</p>
  </div>
</footer>